:root {
    --link-primary-color: #0079FF;

    /* === LIGHT MODE === */
    --background-color-lm: #F2F2F2;
    --container-background-color-lm: #FEFEFE;
    --stats-background-color-lm: #F6F8FF;
    --title-color-lm: #2B3442;
    --toggle-btn-color-lm: #697C9A;
    --text-color-lm: #4B6A9B;
    --not-available-color-lm: #A4B4CD;

    /* === DARK MODE === */
    --background-color-dm: #141D2F;
    --container-background-color-dm: #1E2A47;
    --title-toggle-text-color-dm: #FFFFFF;
    --not-available-color-dm: #8E94A3;
}